<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Coursera" styleClass="p-card-shadow">
            <a href="https://www.coursera.org/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Udemy" styleClass="p-card-shadow">
            <a href="https://www.udemy.com/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="edX" styleClass="p-card-shadow">
            <a href="https://www.edx.org/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Pluralsight" styleClass="p-card-shadow">
            <a href="https://www.pluralsight.com/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Alison" styleClass="p-card-shadow">
            <a href="https://alison.com/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Great Learnings" styleClass="p-card-shadow">
            <a href="https://www.greatlearning.in/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Nasscom" styleClass="p-card-shadow">
            <a href="https://fslearning.nasscom.in/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Eduonix" styleClass="p-card-shadow">
            <a href="https://www.eduonix.com/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
</div>

