<div class="p-grid">
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Voice Record" styleClass="p-card-shadow">
            <a href="https://vocaroo.com/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Text to speech" styleClass="p-card-shadow">
            <a href="https://text-to-speech-demo.ng.bluemix.net/#reset" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Speech to Text" styleClass="p-card-shadow">
            <a href="https://speechnotes.co/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
        <p-card header="Webcam" styleClass="p-card-shadow">
            <a href="https://webcamtoy.com/" target="/">
                <p-button label="Go"></p-button>
            </a>
        </p-card>
    </div>
</div>

